.Stats {
  margin: 20px;
  padding: 10px;
  display: inline-block;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 4px;

  th, tr {
    text-align: left;
    padding: 2px 10px;
  }

  th {
    padding-right: 30px;
  }
}