.Menu {

  position: fixed;
  border: 1px dashed #888;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);

  ul {
    padding: 0 10px;
    list-style-type: none;
  }

  li {
    display: inline-block;
    list-style: none;
    padding: 0;

    a {
      text-decoration: none;
      font-weight: bold;
      color: #000000;
      padding: 5px 20px;
      margin: 10px;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

      &.active {
        background-color: #ffe1a8;
      }
    }
  }
}